<h2><%= @task.title %></h2>
<p><%= @task.description %></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit Task", edit_task_path(@task) %>
<%= link_to "Remove", task_path(@task), method: :delete, data: { confirm: "Are you sure?"} %>
